{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat,msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<form
    action="{{ url_for('addPost') }}"
    method="post"
    class="form-contact">
<p><label>Название статьи: <input
                                        type="text"
                                        name="name"
                                        value=""
                                        required/></label>
<p><label>URL статьи:   <input
                                  type="text"
                                  name="url"
                                  class="form-contact"
                                  required/></label>
<p><label>Текст статьи:</label>
<p><textarea
        name="post"
        rows="7"
        cols="40">
</textarea>
<p><input
        type="submit"
        value="Добавить" />
</form>
{% endblock %}